extends ./templates/layout.pug

block vars
  - var description = 'Este é o espaço institucional do escritório Paese, Ferreira & Advogados Associados. Aqui o usuário encontra informações básicas sobre nossas áreas de atuação, quem são os advogados de nossa equipe, quais as questões mais recorrentes de nossos clientes, links para instituições correlatas, artigos, publicações e notícias do mundo do trabalho.'

block content
  main#main-content.c-main-content

    // Banner
    .c-banner
      h2.c-banner__title
        span Defesa e proteção dos direitos dos trabalhadores, servidores públicos, iniciativa privada e assessoramento a entidades sindicais e associativas.

    // Áreas de atuação
    .c-occupation-area
      .o-content-block
        h2.c-main-title.c-main-title--detail Áreas de Atuação

        .c-occupation-area__slide.js-slick-occupation
          .c-occupation-area__item
            a(href="#")
              img(src="/img/atuacao-01.jpg", alt="Trabalhador CLT")
              .c-occupation-area__txt
                h3.c-occupation-area__title Trabalhador CLT
                span Para trabalhadores contratados pelo regime celetista
          .c-occupation-area__item
            a(href="#")
              img(src="/img/atuacao-02.jpg", alt="Saúde do Trabalhador")
              .c-occupation-area__txt
                h3.c-occupation-area__title Saúde do Trabalhador
                span Para acidentoes do trabalho e doenças profissionais
          .c-occupation-area__item
            a(href="#")
              img(src="/img/atuacao-03.jpg", alt="Assessoria Sindical")
              .c-occupation-area__txt
                h3.c-occupation-area__title Assessoria Sindical
                span Para sindicatos de trabalhadores e associações profissionais
          .c-occupation-area__item
            a(href="#")
              img(src="/img/atuacao-04.jpg", alt="Previdenciário")
              .c-occupation-area__txt
                h3.c-occupation-area__title Previdenciário
                span Para aposentados
                br
                | e beneficiários
                br
                | em geral
          .c-occupation-area__item
            a(href="#")
              img(src="/img/atuacao-05.jpg", alt="Servidor Público")
              .c-occupation-area__txt
                h3.c-occupation-area__title Servidor Público
                span Para trabalhadores vinculados à Administração Pública

    // Notícias
    .c-home-news
      .o-content-block
        h2.c-main-title.c-main-title--detail Notícias
        .o-grid-padded.o-grid-padded--sm
          .o-row
            .c-home-news__col.c-home-news__col--featured.o-col
              .c-home-news__slide.js-slick(data-slick='{"autoplay": true, "dots": true, "arrows": false}')
                .c-home-news__item.c-home-news__item--featured
                  a(href="#")
                    .c-home-news-card
                      .c-home-news-card__img
                        img(src="https://placeimg.com/417/265/people", alt="Aposentadoria especial pode ser instruída apenas por perfil profissiográfico")
                      .c-home-news-card__txt
                        span.c-home-news-card__date 17/02/17
                        h3.c-home-news-card__title Aposentadoria especial pode ser instruída apenas por perfil profissiográfico
                    p Nos pedidos de aposentadoria especial em razão de exposição do trabalhador a ruído nocivo, a apresentação...
                .c-home-news__item.c-home-news__item--featured
                  a(href="#")
                    .c-home-news-card
                      .c-home-news-card__img
                        img(src="https://placeimg.com/417/265/people", alt="Aposentadoria especial pode ser instruída apenas por perfil profissiográfico")
                      .c-home-news-card__txt
                        span.c-home-news-card__date 17/02/17
                        h3.c-home-news-card__title Aposentadoria especial pode ser instruída apenas por perfil profissiográfico
                    p Nos pedidos de aposentadoria especial em razão de exposição do trabalhador a ruído nocivo, a apresentação...
                .c-home-news__item.c-home-news__item--featured
                  a(href="#")
                    .c-home-news-card
                      .c-home-news-card__img
                        img(src="https://placeimg.com/417/265/people", alt="Aposentadoria especial pode ser instruída apenas por perfil profissiográfico")
                      .c-home-news-card__txt
                        span.c-home-news-card__date 17/02/17
                        h3.c-home-news-card__title Aposentadoria especial pode ser instruída apenas por perfil profissiográfico
                    p Nos pedidos de aposentadoria especial em razão de exposição do trabalhador a ruído nocivo, a apresentação...
            .c-home-news__col.o-col
              .c-home-news__item
                a(href="#")
                  img(src="https://placeimg.com/417/265/people", alt="Aposentadoria especial pode ser instruída apenas por perfil profissiográfico")
                  span.c-home-news__date 17/02/17
                  h3.c-home-news__title Aposentadoria especial pode ser instruída apenas por perfil profissiográfico
                  p Aos poucos, a população brasileira deve acordar para a realidade econômica do país. Apesar de o governo ter conseguido aprovar medidas como a chamada...
            .c-home-news__col.o-col
              .c-home-news__item
                a(href="#")
                  img(src="https://placeimg.com/417/265/people", alt="Aposentadoria especial pode ser instruída apenas por perfil profissiográfico")
                  span.c-home-news__date 17/02/17
                  h3.c-home-news__title Aposentadoria especial pode ser instruída apenas por perfil profissiográfico
                  p Aos poucos, a população brasileira deve acordar para a realidade econômica do país. Apesar de o governo ter conseguido aprovar medidas como a chamada...
            .c-home-news__col.o-col
              .c-home-news__item
                a(href="#")
                  img(src="https://placeimg.com/417/265/people", alt="Aposentadoria especial pode ser instruída apenas por perfil profissiográfico")
                  span.c-home-news__date 17/02/17
                  h3.c-home-news__title Aposentadoria especial pode ser instruída apenas por perfil profissiográfico
                  p Aos poucos, a população brasileira deve acordar para a realidade econômica do país. Apesar de o governo ter conseguido aprovar medidas como a chamada...
        a.c-home-news__more(href="#") Mais notícias...
