extends ./templates/layout.pug

block vars
  - var title = 'Perguntas Frequentes | Informe-se |'
  - var description = 'Este é o espaço institucional do escritório Paese, Ferreira & Advogados Associados. Aqui o usuário encontra informações básicas sobre nossas áreas de atuação, quem são os advogados de nossa equipe, quais as questões mais recorrentes de nossos clientes, links para instituições correlatas, artigos, publicações e notícias do mundo do trabalho.'

block content
  main#main-content.c-main-content
    .o-content-block
      .o-row
        // Coluna Menu
        .c-main-content__col.c-main-content__col--side.o-col
          h2.c-main-title.c-main-title--detail Informe-se
          ul.c-side-nav
            li.c-side-nav__item
              a(href="#").c-side-nav__link Perguntas e Respostas
            li.c-side-nav__item
              a(href="#").c-side-nav__link Processos
            li.c-side-nav__item
              a(href="#").c-side-nav__link Links

        // Coluna Conteúdo
        .c-main-content__col.c-main-content__col--main.o-col
          h1.c-main-title Perguntas Frequentes

          // Lista de Perguntas e Respostas
          ul.c-faq-list.js-faq-list
            li.c-faq-list__item.is-active
              .c-faq-list__header
                span.c-faq-list__number 01
                h3.c-faq-list__title Como Funcionam os atendimentos?
              .c-faq-list__content
                p Temos atendimentos aos clientes de segundas às sextas-feiras das 9h às 12h30min e das 13h30min às 18h30min, na recepção do escritório. A equipe de atendimento está sempre atualizada, e tem acesso direto ao nosso sistema de informações processuais, o que garante que os esclarecimentos prestados sejam sempre recentes. Também disponibilizamos atendimentos pelos advogados que atuam no escritório, mediante prévio agendamento, através dos nossos telefones de contato, ou pessoalmente.
            li.c-faq-list__item
              .c-faq-list__header
                span.c-faq-list__number 02
                h3.c-faq-list__title 6º Andar ou 11º Andar?
              .c-faq-list__content
                p Temos atendimentos aos clientes de segundas às sextas-feiras das 9h às 12h30min e das 13h30min às 18h30min, na recepção do escritório. A equipe de atendimento está sempre atualizada, e tem acesso direto ao nosso sistema de informações processuais, o que garante que os esclarecimentos prestados sejam sempre recentes. Também disponibilizamos atendimentos pelos advogados que atuam no escritório, mediante prévio agendamento, através dos nossos telefones de contato, ou pessoalmente.
            li.c-faq-list__item
              .c-faq-list__header
                span.c-faq-list__number 03
                h3.c-faq-list__title Quem é o meu advogado?
              .c-faq-list__content
                p Temos atendimentos aos clientes de segundas às sextas-feiras das 9h às 12h30min e das 13h30min às 18h30min, na recepção do escritório. A equipe de atendimento está sempre atualizada, e tem acesso direto ao nosso sistema de informações processuais, o que garante que os esclarecimentos prestados sejam sempre recentes. Também disponibilizamos atendimentos pelos advogados que atuam no escritório, mediante prévio agendamento, através dos nossos telefones de contato, ou pessoalmente.
            li.c-faq-list__item
              .c-faq-list__header
                span.c-faq-list__number 04
                h3.c-faq-list__title Quais são as chances de vencer?
              .c-faq-list__content
                p Temos atendimentos aos clientes de segundas às sextas-feiras das 9h às 12h30min e das 13h30min às 18h30min, na recepção do escritório. A equipe de atendimento está sempre atualizada, e tem acesso direto ao nosso sistema de informações processuais, o que garante que os esclarecimentos prestados sejam sempre recentes. Também disponibilizamos atendimentos pelos advogados que atuam no escritório, mediante prévio agendamento, através dos nossos telefones de contato, ou pessoalmente.
            li.c-faq-list__item
              .c-faq-list__header
                span.c-faq-list__number 05
                h3.c-faq-list__title Quando irei receber?
              .c-faq-list__content
                p Temos atendimentos aos clientes de segundas às sextas-feiras das 9h às 12h30min e das 13h30min às 18h30min, na recepção do escritório. A equipe de atendimento está sempre atualizada, e tem acesso direto ao nosso sistema de informações processuais, o que garante que os esclarecimentos prestados sejam sempre recentes. Também disponibilizamos atendimentos pelos advogados que atuam no escritório, mediante prévio agendamento, através dos nossos telefones de contato, ou pessoalmente.
            li.c-faq-list__item
              .c-faq-list__header
                span.c-faq-list__number 06
                h3.c-faq-list__title Como são cobrados os honorários advocatícios?
              .c-faq-list__content
                p Temos atendimentos aos clientes de segundas às sextas-feiras das 9h às 12h30min e das 13h30min às 18h30min, na recepção do escritório. A equipe de atendimento está sempre atualizada, e tem acesso direto ao nosso sistema de informações processuais, o que garante que os esclarecimentos prestados sejam sempre recentes. Também disponibilizamos atendimentos pelos advogados que atuam no escritório, mediante prévio agendamento, através dos nossos telefones de contato, ou pessoalmente.
            li.c-faq-list__item
              .c-faq-list__header
                span.c-faq-list__number 07
                h3.c-faq-list__title Por que o processo demora tanto?
              .c-faq-list__content
                p Temos atendimentos aos clientes de segundas às sextas-feiras das 9h às 12h30min e das 13h30min às 18h30min, na recepção do escritório. A equipe de atendimento está sempre atualizada, e tem acesso direto ao nosso sistema de informações processuais, o que garante que os esclarecimentos prestados sejam sempre recentes. Também disponibilizamos atendimentos pelos advogados que atuam no escritório, mediante prévio agendamento, através dos nossos telefones de contato, ou pessoalmente.

