footer.c-main-footer.u-no-print
  .o-content-block
    .o-grid-padded
      .o-row
        .c-main-footer__col.o-col
          h3.c-main-title.c-main-title--detail Contato e Localização
          ul.c-contact-list
            li.c-contact-list__item
              span.c-contact-list__icon
                img(src="/img/ico-footer-phone.png" alt="fone")
              span.c-contact-list__text.c-contact-list__text--phone (51) 3287.5200
            li.c-contact-list__item
              span.c-contact-list__icon
                img(src="/img/ico-footer-pin.png" alt="endereço")
              span.c-contact-list__text Rua dos Andradas, nº 1121, 6º e 11º andares, em frente à Praça da Alfândega, Centro Histórico, Porto Alegre - RS
            li.c-contact-list__item
              span.c-contact-list__icon
                img(src="/img/ico-footer-map.png" alt="localização")
              span.c-contact-list__text Mapa de localização
            li.c-contact-list__item
              span.c-contact-list__icon
                img(src="/img/ico-footer-clock.png" alt="horário")
              span.c-contact-list__text Horário de segunda a quinta-feira, das 9h às 12h30min e das 13h30min às 18h30min.
            li.c-contact-list__item
              span.c-contact-list__icon
                img(src="/img/ico-footer-note.png" alt="atualização cadastral")
              span.c-contact-list__text Atualização Cadastral
            li.c-contact-list__item
              span.c-contact-list__icon
                img(src="/img/ico-footer-mail.png" alt="e-mail")
              span.c-contact-list__text atendimento@paeseferreira.com.br
            li.c-contact-list__item
              span.c-contact-list__icon
                img(src="/img/ico-footer-facebook.png" alt="facebook")
              span.c-contact-list__text facebook.com/untitled-tld
            li.c-contact-list__item
              span.c-contact-list__icon
                img(src="/img/ico-footer-handshake.png" alt="trabalhe conosco")
              span.c-contact-list__text Trabalhe conosco

        .c-main-footer__col.o-col
          h3.c-main-title Newsletter
          p Informações e destaques da área jurídica e dos direitos dos trabalhadores. Cadastre seu nome e e-mail para receber nosso informativo gratuitamente.
          form.c-news-form
            .c-form-group
              label Nome:
              input.o-input(required)
            .c-form-group
              label E-mail:
              input.o-input(type="email" required)
            .c-form-group
              label.c-news-form__check
                input.o-input-check(type="checkbox")
                | Receba também notícias do mundo do trabalho.
              button.o-btn.o-btn--primary(type="submit") Enviar

          h3.c-main-title Mundo do Trabalho
          p Clique nos banners abaixo para acessar mais notícias de interesse dos trabalhadores dos setores público e privado.
          a.c-main-footer__banner(href="#")
            img(src="/img/dmt.png", alt="banner DMT")
          a.c-main-footer__banner(href="#")
            img(src="/img/cnasp.png", alt="banner cnasp")

        .c-main-footer__col.c-main-footer__col--report.o-col
          h3.c-main-title Boletim Informativo
          p Este material é destinado à produção intelectual de nossos advogados e de pessoas convidadas a colaborar com temas atualizados de grande interesse de nosso público e de nossa atividade profissional.

          a(href="#")
            img.c-main-footer__report(src="/img/boletim.png", alt="Boletim Informativo")

  .c-main-footer__bar
    p © Copyright 2016 Paese, Ferreira & Advogados Associados | Desenvolvido por Desize.

  script(src="https://code.jquery.com/jquery-{{JQUERY_VERSION}}.min.js" integrity="{{JQUERY_SRI_HASH}}" crossorigin="anonymous")
  <script>window.jQuery || document.write('<script src="js/vendor/jquery/dist/jquery/jquery.min.js"><\/script>')</script>
  script(src="https://code.jquery.com/jquery-{{JQUERY_VERSION}}.min.js" integrity="{{JQUERY_SRI_HASH}}" crossorigin="anonymous")
  <script>window.jQuery || document.write('<script src="js/vendor/jquery/dist/jquery/jquery.min.js"><\/script>')</script>
  script(src="https://code.jquery.com/jquery-{{JQUERY_VERSION}}.min.js" integrity="{{JQUERY_SRI_HASH}}" crossorigin="anonymous")
  <script>window.jQuery || document.write('<script src="js/vendor/jquery/dist/jquery/jquery.min.js"><\/script>')</script>
  script(src="js/bundle.min.js")
