// input objects are the only ones that can have cosmetic styles
// because their definition in base would be too complex.
// e.g.: input[type="text"], input[type="password"]...
.o-input {
  display: block;
  width: 100%;
  line-height: 2;
  height: 1.95em; // required by IE
  border: 1px solid #d0d0d0;
  padding: 0 .5em;

  &--textarea {
    height: auto;
  }
}

.o-input-check {
  background-color: $white;
  border: none;
}
