.c-main-header {
  position: relative;
  z-index: 3;
  border-bottom: 1px solid $gray-medium;
  box-shadow: 0 1px 0 rgba($gray-medium, .5);

  &__content {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__phone {
    position: absolute;
    top: 0;
    right: 5.505142857142857%;
    display: none;
    background-color: $gray-medium;
    color: $white;
    font: 18px $font-family-bold;
    padding: 23px 12px 5px;

    @media (min-width: $screen-lg) {
      display: inline-block;
    }

    &::before {
      content: url('../img/ico-phone.png');
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }
  }
}
